services:
  - type: web
    name: netrecommender-api
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: Dockerfile.api
    autoDeploy: true

  - type: web
    name: netrecommender-dashboard
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: Dockerfile.dashboard
    autoDeploy: true
