services:
  - type: web
    name: netrecommender-api
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: ./Dockerfile.app
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
      - key: PYTHONUNBUFFERED
        value: "1"

  - type: web
    name: netrecommender-dashboard
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: ./Dockerfile.app
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
      - key: PYTHONUNBUFFERED
        value: "1"
