services:
  - type: web
    name: netrecommender-api
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: Dockerfile.api
    autoDeploy: true
    envVars:
      - key: PORT
        value: 8000

  - type: web
    name: netrecommender-dashboard
    env: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: Dockerfile.dashboard
    autoDeploy: true
    envVars:
      - key: PORT
        value: 8501
